<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    首页
  </title>
  <link rel='stylesheet' href="./stylesheets/bootstrap.min.css">  
  <link rel='stylesheet' href='./stylesheets/index.css' />
</head>

<body>
  <%- include header %>
  <section>
      <div class="bio">
          <div class="container">
            <div class="row">
              <div class="head-pic col-md-2 col-sm-3">
                <img src="./images/me.jpg" alt="">
              </div>
              <div class="intro-info col-md-10 col-sm-9">
                <h2>"木讷患者"</h2>
                <h2>"17届不在校学生"</h2>
                <h2>"多年后，做一个不漂的撒欢者"</h2>
              </div>
            </div>
          </div>
      </div>      
    <div class="container">   
      <div class="sort-content pull-left">
        <div class="sort-list">
          <h2 class=""></h2>
        </div>
      </div>
      <%for (var i = listData.length-1;i >= 0;i--) {%>
      <article class="pull-right">
        <h1 class="title">
          <a href="<%= listData[i].url %>"><%= listData[i].title %></a>
        </h1>
        <div class="content">
          <p class="brief"><%= listData[i].brief %></p>
        </div>
        <div class="read-all-detail ">
          <a href="<%= listData[i].url %>">阅读全文 »</a>
        </div>
        <div class="end-line"></div>
      </article>
      <%} %>
    </div>   
  </section>
</body>

</html>