<!DOCTYPE html>
<html>

<head>
  <title>
    首页
  </title>
  <link rel='stylesheet' href="./stylesheets/bootstrap.min.css">  
  <link rel='stylesheet' href='./stylesheets/index.css' />
</head>

<body>
  <%- include header %>
  <section>
    <div class="container">
      <%for (var i = listData.length-1;i > 0;i--) {%>
      <article>
        <h1 class="title">
          <a href="<%= listData[i].url %>"><%= listData[i].title %></a>
        </h1>
        <div class="content">
          <p class="brief"><%= listData[i].brief %></p>
        </div>
        <div class="read-all-detail">
          <a href="<%= listData[i].url %>">阅读全文 »</a>
        </div>
        <div class="end-line"></div>
      </article>
      <%} %>
    </div>
    
  </section>
</body>

</html>